/* ---------------- Buttons ----------------*/
/* Button Brand */
.button-brand {
  padding: 0.25rem 1rem;
  background-color: var(--color-brand-3);
  color: var(--color-default);
  width: fit-content;
  height: fit-content;
  border-radius: var(--border-radius-round);
  font-size: var(--font-size-4);
  font-weight: var(--semi-bold);
}

.button-brand:hover {
  background-color: var(--color-brand-2);
}

.button-brand-2 {
  padding: 0.25rem 1rem;
  background-color: var(--color-brand-1);
  color: var(--color-default);
  width: fit-content;
  height: fit-content;
  border-radius: var(--border-radius-round);
  font-size: var(--font-size-4);
  font-weight: var(--semi-bold);
}

.button-brand-2:hover {
  background-color: var(--color-brand-2);
}

/* Button Brand Outline */
.button-brand-outline {
  padding: 0.25rem 1rem;
  background-color: transparent;
  outline: 1px var(--color-brand-3);
  color: var(--color-brand-3);
  width: fit-content;
  height: fit-content;
  border-radius: var(--border-radius-round);
  font-size: var(--font-size-4);
  font-weight: var(--semi-bold);
}

.button-brand-outline:hover {
  outline: 1px var(--color-brand-2);
  color: var(--color-brand-2);
}

/* Button Confirm */
.button-confirm {
  padding: 0.25rem 1rem;
  background-color: var(--color-brand-1);
  width: fit-content;
  height: fit-content;
  color: var(--color-default);
  border-radius: var(--border-radius-round);
  font-size: var(--font-size-4);
  font-weight: var(--semi-bold);
}

.button-confirm:hover {
  background-color: var(--color-brand-2);
}

/* Button Disabled */
.disabled-button {
  cursor: default;
  background-color: var(--disabled-button) !important;
  color: var(--color-grey-7) !important;
}

/* Button Alert Outline */
.button-alert-outline {
  padding: 0.25rem 1rem;
  background-color: transparent;
  outline: 1px solid var(--color-alert);
  color: var(--color-alert);
  width: fit-content;
  height: fit-content;
  border-radius: var(--border-radius-round);
  font-size: var(--font-size-4);
  font-weight: var(--semi-bold);
}

.button-alert-outline:hover {
  outline: none;
  background-color: var(--color-alert);
  color: var(--color-default);
}

#theme-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
}