/* Card Wrapper */
.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: space-between;
}

/* Card */
.card-vertical {
  width: 200px;
  height: 272px;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  gap: 16px;
}

.card-horizontal {
  display: flex;
  flex-direction: row;
  width: 45%;
  height: 200px;
  gap: 36px;
  border-radius: var(--border-radius-3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

/* Card Image */
.card-header-vertical {
  width: 200px;
  height: 160px;
  object-fit: cover;
  border-radius: var(--border-radius-3);
}

.card-header-horizontal {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: var(--border-radius-3);
}

/* Card Body and Footer goes inside */
.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 0px;
}

/* Info */
.card-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Button */
.card-footer {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-footer-horizontal {
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.container-filtro{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-box{
  outline: 1px solid var(--color-brand-1);
  padding-left: 1rem;
  padding-right: 1rem;
  height: 27px;
  width: 120px;
  border-radius: 50px;
  color: var(--color-brand-1);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}
.select-box > img{
  width: 10px;
  height: 10px;
}
.box-filtro{
  width: 51%;
  display: flex;
  align-items: center;
  margin-top: 57px;
}
.hidden{
  height: 0;
  width: 0;
  background: none;
  font-size: 0;
}
