/* Toast Fail */
.toast-red {
  background-color: var(--color-alert);
  border-radius: var(--border-radius-2);
  color: var(--color-default);
  font-size: var(--font-size-5);
  font-weight: var(--bold);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: fit-content;
  position: fixed;
  animation: toastIt 4000ms ease-in-out forwards;
  padding: 1.25rem 2.25rem;
  top: 0;
  right: 30px;
  z-index: 6;
}

/* Toast Success */
.toast-green {
  background-color: var(--color-confirm);
  border-radius: var(--border-radius-2);
  color: var(--color-default);
  font-size: var(--font-size-5);
  font-weight: var(--bold);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: fit-content;
  position: fixed;
  animation: toastIt 4000ms ease-in-out forwards;
  padding: 1.25rem 2.25rem;
  top: 0;
  right: 30px;
  z-index: 6;
}

/* Keyframes */
@keyframes toastIt {
  0% {
    right: 30;
    top: -150px;
  }
  25% {
    right: 30;
    top: 10px;
  }
  50% {
    right: 30;
    top: 10px;
  }
  100% {
    right: 30;
    top: -150px;
  }
}