.toast-red {
  background-color: var(--color-alert);
  border-radius: 10px;
  color: var(--color-default);
  font-size: var(--font-size-5);
  font-weight: var(--bold);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: fit-content;
  position: fixed;
  animation: toastIt 4000ms ease-in forwards;
  padding: 1.25rem 2.25rem;
}

.toast-green {
  background-color: var(--color-confirm);
  border-radius: 10px;
  color: var(--color-default);
  font-size: var(--font-size-5);
  font-weight: var(--bold);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: fit-content;
  animation: toastIt 4000ms ease-in forwards;
  padding: 1.25rem 2.25rem;
}

@keyframes toastIt {
  0% {
    right: 30px;
    top: -150px;
  }
  25% {
    right: 30px;
    top: 10px;
  }
  50% {
    right: 30px;
    top: 10px;
  }
  100% {
    right: 30px;
    top: -150px;
  }
}